
/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Promo Section
    6. Article Section
    7. Character Card Section
    8. Footer


    Fonts
    font-family: 'Poppins', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Wire One', sans-serif;

*/ 

/* 1 --- General Styles --- */ 



.hidden{
    display:none;
} 

.hidden{
    display:none;
} 

.container {
    width: 1200px; 
    margin: 0 auto; 
    background-color: #ffffff;
    border: 1px solid #F7931E;
    
}


h2 {
    font-family: 'Sintony', sans-serif;
    font-size: 40px; 
    color: #707070;
    font-weight: bold;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #707070;
}

ul li {
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
    font-size: 15px;
    list-style: none;
    text-align: center;
    display: inline;
}

a {
    text-decoration: none;
}

.button {
    background-color: #6ebe4351; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 355px;
    height: 78px;
    border-radius: 66px;
    margin-top: 80px;
    margin-left: 60px;
    cursor: pointer;
    transition: all .6s ease;
}

.button a {
    text-decoration: none;
    color: #3D6B24; 
}

.button:hover {
	background-color: #6EBE43; 
}


/* 2 --- Grid - - - */ 

.grid {
    display: grid; 
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 30px;
}

/* 3 --- Header --- */

#main-header {
    background-color: #ffffff;
    height: 156px;
}

.logo {

    grid-column: 1/5;
    width:62px;
    height: 62px;
    display: flex;
    margin-top: 50px;
}

.main-nav {
    grid-column: 5/11;
    margin-top: 55px;

}

.main-nav ul li a {
    color: #F7931E; 
    text-decoration: none;
    transition: all .4s ease;
    margin-right: 50px;

}

.main-nav ul li a:hover {
    border-bottom: 2px solid #F7931E;
    text-decoration: none;
}

.header-icons {
    grid-column: 11/-1;
    margin-top: 55px;
    letter-spacing: 40px;
    cursor: pointer;
}

/*  4 ---  Main Hero Image ---*/


.full-grid {
	display: grid; 
	grid-template-columns: 1200px;
}

#background-img {
    max-width: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

#hero-overlap-text {
    grid-column: 1/-1;
    grid-row: 1/-1;
}

#hero-overlap-text p {
    color: #F7931E;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
}

#hero-img {
   grid-column: 7/12;
   margin-top: 70px;
   margin-right: 100px;
}

#glass {
    grid-column: 1/7;
    margin: 50px;
    padding: 50px;
    border-radius: 94px;
    backdrop-filter: saturate(200%) blur(4px);
    background-color: rgba(255, 255, 255, 0.5);
}

/* 5. --- Promo Section --- */

.promo-svg {
    width: 10%;
}

#promo-con {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
}

#svg-con {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
}



/* 6. --- Article Section --- */ 

#article-con h2 {
    text-align: center;
    color: #6EBE43;
}

#article-con img {
    float: right;
    margin: 30px;
    margin-top: 40px;
    margin-right: 60px;
}

#article-con p {
    margin-left: 60px;
    margin-right: 60px;
    color:#3D6B24;
}

/* --- 7. Character Card Section --- */ 

#character-cards {
    grid-column: 1/-1;
}

#character-cards h2 {
    grid-column: 2/-1;
    color: #F7931E;
}

#cards h3 {
    color: #F7931E;
    margin-top: 10px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(3,400px); 
    grid-template-rows: repeat(3,300px); 
    margin-left: 35px;
  }

  #more-details-button h4 a{
    border-radius: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #3D6B24;
    display: block;
    padding: 10px;
    cursor: pointer;
    transition: all .6s ease;
    margin-top: 60px;
    margin-bottom: 60px;
  }

#more-details-button {
    margin-left: 360px;
}

/* 8. --- Footer --- */ 

footer {
    border-top: 1px solid #F7931E;
}

#all-footer-icons {
    grid-column: 1/-1;
    display: inline;
}

#icons-right {
    grid-column: 5/-1;
}

ul li a {
    margin-right: 30px;
}

.social-icons {
    grid-column: 1/-1;
    padding: 0px;
    padding-top: 10px;
}
