/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Flavours
    6. History 
    7. Social Gallery 
    8. Contact Form
    9. Footer


    Fonts
    font-family: 'Poppins', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Wire One', sans-serif;

*/ 

/* 1 --- General Styles --- */ 

.hidden{
    display:none;
} 

.container {
    width: 390px;
    margin: 0 auto;
    background-color: #E1E1E1;
}

h2 {
    font-family: 'Sintony', sans-serif;
    font-size: 30px; 
    color: #FFFFFF;
    font-weight: 400;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #707070;
}

ul li {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #707070;
    list-style: none;
    text-align: center;
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}


/* 2 --- Grid --- */

.grid {
    display: grid; 
    padding-left: 19px;
    padding-right: 19px;
    grid-template-columns: repeat(4, 76px);
    grid-column-gap: 16px;
}



/* 3 --- Header --- */ 

#main-header {
    grid-column: 1/-1;
}

.logo {
    width: 113px;
    height: 72px;
    background-color: #BABABA;
}

#hamburger {
    position: relative;
    left: 11.5em;
}



/* 4 --- Main Hero Image --- set background image*/ 

#hero {
    grid-column: 1/5;
}



#main-header {
	background-color: #aaaaaa;
	background: url("https://via.placeholder.com/390x611");
	height: 611px;
    margin-bottom: 20px;
}

/* 5. --- Flavours --- */

#flavours {
    grid-column: 1/5;
    display: block;
}

#flavours h3, .gallery {
    text-align: center;
}

#flavour-text {
    background-color: #9E9EA1;
    padding: 20px;
    margin-top: 20px;
    border-radius: 66px;
}

.button {
    background-color: #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 66px;
    cursor: pointer;
    transition: all .6s ease;
    margin-left: 100px;
}

.button:hover {
    background-color: #aaaaaa;
}

/* 6. --- History --- */ 

#history {
    grid-column: 1/5;
}
#history-con {
    grid-column: 1/5;
    background-color: #9E9EA1;
    padding: 20px;
    margin-top: 20px;
    border-radius: 66px;
    margin-bottom: 40px;
}

/* 7. --- Social --- */ 

#social {
    grid-column: 1/5;
    display: block;
    margin-bottom: 40px;
}

/* 8. --- Contact Form --- */ 

#contact-form {
    grid-column: 1/5;
    display: block;
}

#contact-con {
    width: 353px;
    height: 409px;
    background-color: #9E9EA1;
    margin-top: 10px;
    margin-bottom: 40px;
}

/* 9. ---- Footer --- */ 

footer {
    grid-column: 1/5;
}

.social-icons {
    display: flex;
    justify-content: center;
    grid-column: 1/-1;
    padding: 10px;
    gap: 10px;
}

.main-nav {
    grid-column: 1/5;
}


.main-nav ul li a {
    color: #000000; 
    text-decoration: none;
    transition: all .4s ease;
    margin-right: 10px;
    padding-left: 9px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #393939;
    text-decoration: none;
}