
/* hidden elements */


.hidden{
    display:none;
}

.desktop {
    display: none;
}

/* General Styles */ 


h2 {
    font-family: 'Sintony', sans-serif;
    font-size: 25px; 
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight:200;
}

ul li {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #F7931E;
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }

 p {
    font-size: 15px;
    font-family: 'Sintony', sans-serif;
 }


 button, input[type="submit"], input[type="reset"] {
	color: black;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-family: 'Poppins', sans-serif;
    background: #f3efeb; 
    padding: 5px;
    width: 100px;
    border-radius: 60px;
    margin-top: 20px;
}

.button {
    background-color: #ffffff51; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 39px;
    cursor: pointer;
    width: 140px;
    height: 44px;
    transition: all .6s ease;
}

.button:hover {
	background-color: #ffffff86; 
}


/* Main Nav */



.nav-con button {
    background: url(../img/hamburger_icon.svg) no-repeat center;
    margin-top: 10px;
    transition: all .5s ease;
    border: 0;
    width: 50px;
    height: 50px;
 }

 #burger-con.slide-toggle {
    display: block;
    align-self: center;
 }

 #burger-con {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    order: -1;
 }
 
 
 .nav-con ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 .nav-con ul li a {
    display: block;
    padding: 20px;
    color: #F7931E;
    text-align: center;
    transition: all .4s ease;
 }
 
 .nav-con ul li a:hover {
    color:#f7921e7a; 
    text-decoration: none;
 }


#mobile-nav-icons {
    display: flex;
    justify-content: center;
}


#logo {
    margin-top: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


/* --- Hero Area --- */ 

#hero-con .grid-con {
    grid-row: 1/1;
    margin: 0;
    grid-column: 2/3;
 }

#hero-con img {
    justify-self: center;
    grid-column: 1/-1;
    grid-row: 1/1;
 }

 #hero-con p {
    color: #E62448;
    margin-top: 10px;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
 }

 #hero {
    height: 377px;
    object-fit: cover;
    object-position: 80%;
 }


 #hero-text {
    margin-top: 20px;
 }

#hero-text h2 {
    color:#E62448;
    font-size: 24px;
}

#hero-text h2 span{
    color:#E62448;
    font-size: 70px;
}

#add-to-cart {
    margin-top: 10px;
    margin-left: 5px;
}

#add-to-cart a {
    color: #E62448;

}





/* Footer */ 
#footer-nav #burger-con {
    display: block;
    margin-top: 30px;
}

.social-icons-footer {
    display: flex;
    justify-content: center;
    grid-column: 1/-1;
    padding: 10px;
    gap: 20px;
}

.main-nav {
    grid-column: 1/5;
}


.main-nav ul li a {
    color:#F7931E;
    font-weight: bold; 
    text-decoration: none;
    transition: all .4s ease;
    margin-right: 10px;
    padding-left: 9px;
}

footer #button {
    display: none;
}
/* --- media queries --- */ 


/* --- tablet --- */ 

@media screen and (min-width: 768px) {


#sticky{
    position: sticky;
    background-color: #fff;
    top: 0px;
    }


 button, input[type="submit"], input[type="reset"] {
	color: black;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-family: 'Poppins', sans-serif;
    background: #f3efeb; 
    padding: 5px;
    width: 100px;
    border-radius: 60px;
    margin-top: 20px;
}





/* main nav */ 

#header-icons {
    display: block;
}

#burger-con {
    display: block;
    margin-top: 40px;
}

.nav-con ul li a {
    display: inline;
    font-size: 15px;
    padding: 15px;
 }

 .nav-con ul li a p {
    font-size: 10px;
    display: block;
    margin: 0 auto;
 }


#button {
    display: none;
}



#mobile-nav-icons img {
    width: 3%;
}

#burger-con ul li, #burger-con ul li:first-child {
    border: none;
    display: inline;
 }

#logo {
    order: -1;
    margin-top: 10px;
    width: 100%;
}

/*hero*/ 

#hero-text {
margin-top: 40px;
}

#hero-text h2 {
    color:#E62448;
    font-size: 24px;
}

#hero-text h2 span{
    font-size: 78px;
}




/* --- desktop --- */  

@media screen and (min-width: 1200px) {

/*dynamic div*/ 




#nav-con ul li a {
    font-size: 15px;
}

#mobile-nav-icons {
    margin-left: 100px;
    }

#logo {
    width: 100%;
}
}

}