
/* hidden elements */


.hidden{
    display:none;
}

.desktop {
    display: none;
}

/* General Styles */ 


h2 {
    font-family: 'Sintony', sans-serif;
    font-size: 25px; 
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

h4 {
    font-size: 15;
    font-family: 'Poppins', sans-serif;
}

ul li {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #F7931E;
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }

 p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;

 }


 button, input[type="submit"], input[type="reset"] {
	color: black;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-family: 'Poppins', sans-serif;
    background: #f3efeb; 
    padding: 5px;
    width: 100px;
    border-radius: 60px;
    margin-top: 20px;
}

.button {
    background-color: #ffffff51; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 39px;
    cursor: pointer;
    width: 140px;
    height: 44px;
    transition: all .6s ease;
}

.button:hover {
	background-color: #ffffff86; 
}

.page-break {
    width: 300px;
    margin-top: 100px;
    border: 1px solid #F7931E;
    border-radius: 60px;
}


/* Main Nav */



.nav-con button {
    background: url(../img/hamburger_icon.svg) no-repeat center;
    margin-top: 10px;
    transition: all .5s ease;
    border: 0;
    width: 50px;
    height: 50px;
 }

 #burger-con.slide-toggle {
    display: block;
    align-self: center;
 }

 #burger-con {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    order: -1;
 }
 
 
 .nav-con ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 .nav-con ul li a {
    display: block;
    padding: 20px;
    color: #F7931E;
    text-align: center;
    transition: all .4s ease;
 }
 
 .nav-con ul li a:hover {
    color:#f7921e7a; 
    text-decoration: none;
 }


#mobile-nav-icons {
    display: flex;
    justify-content: center;
}


#logo {
    margin-top: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


/* --- Hero Area --- */ 

#hero-con .grid-con {
    grid-row: 1/1;
    margin: 0;
    grid-column: 2/3;
 }

#hero-con img {
    justify-self: center;
    grid-column: 1/-1;
    grid-row: 1/1;
 }

 #hero-con p {
    color: #E62448;
    margin-top: 20px;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 20px;
    margin-left: 3px;
 }

 #hero {
    height: 377px;
    object-fit: cover;
    object-position: 80%;
 }



 #hero-text {
    margin-top: 20px;
 }

#hero-text h2 {
    color:#E62448;
    font-size: 24px;
}

#hero-text h2 span{
    color:#E62448;
    font-size: 70px;
}

#add-to-cart {
    margin-top: 10px;
}

#add-to-cart a {
    color: #E62448;
}

/* Flavour Section */ 

#flavours img {
    width: 100%;
    margin-top: 50px;
}

#flavours {
    place-items: center;
    text-align: center;
}

#flavours h4 {
    margin-top: 20px;
}

#flavours h3 {
    color: #F7931E;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

#flavours a {
    color: #F7931E;
    font-weight: bold;
    border: 1px solid #F7931E;
    border-radius: 50px;
    padding: 5px;
}

#flavours h4 a{
    transition: all .6s ease;
}

#flavours h4 a:hover {
    color: #E62448;
    font-size: 18px;
}

#flavours p {
    color: #E62448;
    margin-top: 10px;
}

#cherry p {
    font-weight: bold;
}

/* Benefits Section */ 

#health-benefits {
    place-items: center;
    text-align: center;
}

#health-benefits h3 {
    margin-bottom: 10px;
    margin-top: 15px;
}

#health-benefits img {
    margin-top: 100px;
}

#health-benefits p {
    line-height: 25px;
    font-size: 12px;
}

.benefit {
    border: 2px solid #F25CAD;
    margin-top: 10px;
    width: 240px;
    padding: 20px;
}


/* Blog Post Section */ 

#characters {
    height: 209px;
    width: 283px;
}

#blog-section ul li a {
    color: #F7931E;
    font-size: 12px;
    text-decoration: none;
    margin: 0px;
    margin-right: 10px;
    float: left;
    transition: all .4s ease;
 }

#blog-section ul li :hover {
    color: #E62448;
 }

#blog-section h4 {
    color: #6EBE43;
    margin-top: 15px;
}

#blog-section h4 p {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
}

#blog-section span p{
    color:#6EBE43;
    font-weight: bold;
    margin-top: 15px;
}

#blog-section p {
    line-height: 25px;
}

#blog-section h2 {
    color: #6EBE43;
    text-align: center;
    margin-top: 84px;
    margin-bottom: 60px;
    font-size: 40px;
}

#blog-section h3 {
    background-color: #e2ffd2a7;
    color: #6EBE43;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 39px;
    width: 150px;
    height: 31px;
}

#blog-section{
padding-left: 30px;
padding-right: 30px;
}


#blog-section img {
    margin-top: 30px;
}

#blog-section p {
    font-size: 12px;
}

.read-more {
    border: 2px solid #6EBE43;
    border-radius: 51px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 67px;
    padding: 5px;
    transition: all .4s ease;
    height: 30px;  
    margin: auto;
    margin-top: 30px; 
    margin-bottom: 30px;
    cursor: pointer;
}



.read-more:hover {
    background-color: #6ebe4334;
}

#blog-section h5 a {
    color: #6EBE43;
    font-family: 'Poppins', sans-serif;

}

/*Socials Section */ 

#social-section {
    place-items: center;
    text-align: center;
    background-color: #ECE5F2;
    margin-top: 60px;
}

#social-section h2 {
    margin-top: 67px;
    margin-bottom: 64px;
    color: #AD83CB;
}

#social-section .social-img{
    margin-bottom: 40px;
}

#follow-us {
    border: 2px solid #A787BE;
    border-radius: 51px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 67px;
    padding: 5px;
    transition: all .4s ease;
    margin-top: 67px;
    cursor: pointer;
}

#social-section h3 a {
    margin-right: 10px;
    color: #AD83CB;
}

#follow-us:hover {
    background-color: #a787be45;
}

#social-section img {
    border:5px solid #A787BE;
    border-radius: 70px;
}

/* contact form */ 

#contact-con h2 {
    color: #F7931E;
    margin-top: 40px;
    font-size: 30px;
}

#contact-con {
    background-color: #FFE4C4;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 64px;
 }

 #contact-con img {
     margin-top: 40px;
 }
 
 
 #contact-form {
     border-radius: 90px;
     height: 340px;
     width: 340px;
     margin: auto;
     margin-top: 30px;
 }
 
 #contact-form form {
         display: flex;
         flex-direction: column;
 }
 
 
 #contact-form input, textarea {
 
     background-color: #FFD8AA;
     border: none;
     border-radius:  5px;
     font-family: 'Poppins', sans-serif;
     font-size: 15px;
     margin: 5px;
     color:#F7931E;
     height: 35px;
     display: flex;
     padding: 10px;
 }
 
 ::placeholder { 
     color:#F7931E;
 }
   
 
 #contact-form input[type="submit"]:hover {
     background-color: #f6965a63;
     border-radius: 60px;
 }
 
 #contact-form form input[type="submit"] {
    cursor: pointer;
    width: 123px;
    height: 37px;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.272); 
    transition: 1s;
    margin: auto;
    margin-top: 30px;
 }



/* Footer */ 
#footer-nav #burger-con {
    display: block;
    margin-top: 30px;
}

.social-icons-footer {
    display: flex;
    justify-content: center;
    grid-column: 1/-1;
    padding: 10px;
    gap: 20px;
}

.main-nav {
    grid-column: 1/5;
}


.main-nav ul li a {
    color:#F7931E;
    font-weight: bold; 
    text-decoration: none;
    transition: all .4s ease;
    margin-right: 10px;
    padding-left: 9px;
}

footer #button {
    display: none;
}



/* ~~~ Page 2: Blog Post ~~~ */ 

 /* Hero */ 

 #hero-blog-con .grid-con {
    grid-row: 1/1;
    margin: 0;
    grid-column: 2/3;
 }

 #hero-blog-con img {
    justify-self: center;
    grid-column: 1/-1;
    grid-row: 1/1;
 }

 #hero-blog-con p {
    color: #E62448;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 3px;
 }

 #hero-blog {
    height: 377px;
    object-fit: cover;
    object-position: 25%;
 }


 #hero-text {
    margin-top: 20px;
 }

#hero-text h2 {
    color:#E62448;
    font-size: 24px;
    text-align: left;
}

#hero-text h2 span{
    color:#E62448;
    font-size: 70px;
}

/* Article */ 

#table-of-contents {
    color: #6EBE43;
    line-height: 20px;
    margin-top: 60px;
}

#table-of-contents h2 {
    margin-bottom: 20px;
}

#table-of-contents span {
    color: black;
    font-size: 10px;
}

#table-of-contents p {
    font-size: 10px;
}

#main-article h2{
    font-size: 12px;
    background-color: #e2ffd2a7;
    color: #6EBE43;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 39px;
    width: 150px;
    height: 31px;
    margin-top: 67px;
    margin-bottom: 15px;
}

#main-article h3 {
    color:#6EBE43;
    margin-bottom: 41px;
}

#main-article h4 {
    color: #6EBE43;
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 37px;
}

#main-article p {
    color:#3D6B24;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
    margin-bottom: 157px;
}

#character-svg {
    place-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#character-svg img {
    width: 60%;
}

#grape-svg  {
    border:3px solid #AD83CB;
    padding: 40px;
    margin-bottom: 60px;
    color: #AD83CB;
}

#orange-svg {
    border:3px solid #F7931E;
    padding: 40px;
    margin-bottom: 60px;
    color: #F7931E;
}

#cherry-svg {
    border:3px solid #E62448;
    padding: 40px;
    margin-bottom: 60px;
    color: #E62448;
}

#strawberry-svg {
    border:3px solid #F25CAD;
    padding: 40px;
    margin-bottom: 60px;
    color: #F25CAD;
}

#character-svg h2 {
    color: #6EBE43;
    margin-bottom: 100px;
}

#character-svg h3 {
    margin-bottom: 31px;
    font-size: 25px;
}


#author-section img {
    width: 20%;
    margin-bottom: 15px;
    margin-top: 15px;
}

#border {
    border-top: 2px solid #6EBE43;
    border-bottom: 2px solid #6EBE43;
}

#author-section h2 {
    font-size: 13px;
    color: #6EBE43;
    margin-top: 15px;
}

#author {
    display: flex;
    gap: 20px;
}

#author p {
    margin-top: 20px;
    font-size: 10px;
    color: black;
    line-height: 20px;
}

#character-post h3 a{
    color: #6EBE43;
    font-family: 'Poppins', sans-serif;
}

 /* ~~~ Blog Post End ~~~ */ 


/* --- media queries --- */ 


/* --- tablet --- */ 

@media screen and (min-width: 768px) {

#sticky{
    position: sticky;
    background-color: #fff;
    top: 0px;
    }


 button, input[type="submit"], input[type="reset"] {
	color: black;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-family: 'Poppins', sans-serif;
    background: #f3efeb; 
    padding: 5px;
    width: 100px;
    border-radius: 60px;
    margin-top: 20px;
}





/* main nav */ 

#header-icons {
    display: block;
}

#burger-con {
    display: block;
    margin-top: 40px;
}

.nav-con ul li a {
    display: inline;
    font-size: 15px;
    padding: 15px;
 }

 .nav-con ul li a p {
    font-size: 10px;
    display: block;
    margin: 0 auto;
 }


#button {
    display: none;
}



#mobile-nav-icons img {
    width: 3%;
}

#burger-con ul li, #burger-con ul li:first-child {
    border: none;
    display: inline;
 }

#logo {
    order: -1;
    margin-top: 10px;
    width: 100%;
}

/*hero*/ 

#hero-text {
margin-top: 40px;
}

#hero-text h2 {
    color:#E62448;
    font-size: 24px;
}

#hero-text h2 span{
    font-size: 78px;
}


/* Flavour Section */ 

#flavours {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#flavours h3 {
    font-size: 15px;
}

/* Health Benefits Section*/

#health-benefits {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap:40px;
    padding-left: 20px;
    padding-right: 20px;
}

.benefit {
    transition: .4s ease;
    padding: 10px;
}

.benefit:hover {
  border-width: 5px;
  cursor: pointer;
}


/*Blog post Section*/

.tablet-desktop {
    display: block;
}

#tab-desktop-post {
    display: flex;
    justify-content: center;
    gap: 80px;
}

#tab-desktop-post > * {
    flex: 1; 
}

#blog-section p {
    font-size: 12px;
}

/*socials section */ 

.tab-desktop {
    display: block;
}

#social-img {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}


/* Page 2: Blog Post Start */ 

/* Hero */ 

#hero-blog-con p {
    font-size: 29px;
 }



 /* Main Article */ 

 #table-of-contents {
    float: right;
    line-height: 30px;
 }

 #table-of-contents p {
    font-size: 10px;
 }

 #table-of-contents span {
    font-size: 12px;
 }


 #main-article h4{
    margin-bottom: 100px;
 }

 #main-article p {
    line-height: 20px;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 60px;
 }

#svg-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    align-content: center;
    gap: 20px;

}

#character-svg img {
    width: 50%;
}

#character-svg h2 {
    font-size: 40px;
}

#author-section p{
    margin-bottom: 15px;
  
}

#author-section img {
    width: 30%;
}
/* Page 2: Blog Post End */ 



/* --- desktop --- */  

@media screen and (min-width: 1200px) {


#nav-con ul li a {
    font-size: 15px;
}

#mobile-nav-icons {
    margin-left: 100px;
    }

#logo {
    width: 100%;
}
}

}

