/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Flavours
    6. History 
    7. Social Gallery 
    8. Contact Form
    9. Footer


    Fonts
    font-family: 'Poppins', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Wire One', sans-serif;

*/ 

/* 1 --- General Styles --- */ 

.hidden{
    display:none;
} 

.container {
    width: 390px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #F7931E;
}

h2 {
    font-family: 'Sintony', sans-serif;
    font-size: 30px; 
    font-weight: bold;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #707070;
}

ul li {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #707070;
    list-style: none;
    text-align: center;
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}

.button {
    background-color: #ffffff4e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 47px;
    border-radius: 100px;
    cursor: pointer;
    transition: all .6s ease;
}

.button a {
    text-decoration: none;
}

.button:hover {
	background-color: #ffffff9c;
}




/* 2 --- Grid --- */

.grid {
    display: grid; 
    padding-left: 19px;
    padding-right: 19px;
    grid-template-columns: repeat(4, 76px);
    grid-column-gap: 16px;
}



/* 3 --- Header --- */ 

#main-header {
    grid-column: 1/-1;
}


nav img {
    margin-left: 100px;
    margin-top: 10px;
}

.logo {
    grid-column: 1/3;
    margin-top: 10px;
}


/* 4 --- Main Hero Image --- set background image*/ 

#hero {
    grid-column: 1/-1;
}

.full-grid {
	display: grid; 
	grid-template-columns: 390px;
}

#background-img {
    max-width: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

#overlap-text {
    grid-column: 1/2;
    grid-row: 1/-1;
}

#overlap-text h2 {
    color: #F7931E;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 50px;
}

#glass {
    grid-column: 1/-1;
    margin-top: 40px;
    width: 352px;
    height: 406px;
    border-radius: 94px;
    backdrop-filter: saturate(100%) blur(20px);
    background-color: rgba(255, 255, 255, 0.308);
}

#shop-now {
    margin: auto;
    margin-top: 100px;
}

#shop-now h3 a{
    color: #F7931E;
    font-weight: bold;
}




/* 5. --- Flavours --- */

#flavours {
    grid-column: 1/5;
    display: block;
}

#img-gal {
    display: flex;
    justify-content: center;
    gap: 10px;
   
}

#flavours h2 {
    text-align: center;
    color: #F7931E;

}

#flavours h3, .gallery {
    text-align: center;
}

#flavour-text {
    background-color: #FAD4E8;
    padding: 20px;
    margin-top: 20px;
    border-radius: 66px;
    grid-column: 1/5;
}

#flavour-text h2 {
    color:#F25CAD;
    grid-column: 1/5;
}

.gallery img {
    width: 50%;
    margin-top: 10px;
}


#explore-button {
    margin-left: 100px;
   
}

#explore-button h3 a{
    color:#F25CAD; 
    font-weight: bold;
}
/* 6. --- History --- */ 

#history {
    grid-column: 1/5;
}
#history-con {
    grid-column: 1/5;
    background-color: #BAE0A6;
    padding: 20px;
    margin-top: 20px;
    border-radius: 66px;
    margin-bottom: 40px;
}

#history-con h2, p, h3 a {
    color:#3D6B24;
}

#history-button {
    margin:auto;
}

/* 7. --- Social --- */ 

#social {
    grid-column: 1/5;
    display: block;
    margin-bottom: 40px;
}

/* 8. --- Contact Form --- */ 

#contact-con {
    grid-column: 1/5;
    background-color: #FFE7CB;
    margin-top: 10px;
    margin-bottom: 40px;
}

#contact-con img {
    grid-column: 1/5;
}

#contact-con h2 {
    margin-left: 120px;
    color: #F7931E;
}

#contact-form form {
    display: flex;
    flex-direction: column;
}


#contact-form {
	grid-column: 1/5;
    border-radius: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#contact-form input, textarea {
border: none;
border-radius:  5px;
font-family: 'Poppins', sans-serif;
font-size: 15px;
margin: 5px;
color:#F7931E;
height: 35px;
display: flex;
padding: 10px;
}

::placeholder { 
color:#F7931E;
}


#contact-form input[type="submit"]:hover {
background-color: #f6965a63;
border-radius: 60px;
}

#contact-form form input[type="submit"] {
cursor: pointer;
width: 123px;
height: 37px;
border-radius: 34px;
display: flex;
justify-content: center;
background-color: rgba(255, 255, 255, 0.272); 
transition: 1s;
}




/* 9. ---- Footer --- */ 

footer {
    grid-column: 1/5;
}

.social-icons {
    display: flex;
    justify-content: center;
    grid-column: 1/-1;
    padding: 10px;
    gap: 10px;
}

.main-nav {
    grid-column: 1/5;
}


.main-nav ul li a {
    color:#F7931E;
    font-weight: bold; 
    text-decoration: none;
    transition: all .4s ease;
    margin-right: 10px;
    padding-left: 9px;
}
